.header {
    background-color: white;
    width: 100%;
    display: flex;
    height: 150px;
}

.resume-comment {
    width: 50%;
    margin: auto;
}

.box-resume {
    margin: auto;
    border: 1px solid #ececeb;
    width: 80%;
}

.text-resume {
    padding-left: 10%;
    font-size: 12px;
    opacity: 0.5;
}

.title {
    flex-grow: 1;
}

.title-grid {
    margin-left: 20px;
    font-size: 13px;
}

.title-text {
    margin-left: 20px;
    font-size: 13px;
    margin-top: -12px;
    opacity: 0.5;
}

.text-content-card {
    text-align: 'justify';
    margin-top: '0';
    font-size: '14px';
}

.btn-upgrade {
    font-size: 11px;
    text-transform: initial;
}

.comment-card {
    width: 80%;
    margin: auto;
    margin-top: 60px
}